asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
dataclasses-json==0.5.6
fastapi==0.68.1
h11==0.12.0
httptools==0.2.0
idna==3.2
marshmallow==3.13.0
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
pendulum==2.1.2
pydantic==1.8.2
Pygments==2.10.0
python-dateutil==2.8.2
python-dotenv==0.19.0
python-multipart==0.0.5
pytzdata==2020.1
PyYAML==5.4.1
requests==2.26.0
rich==10.11.0
six==1.16.0
starlette==0.14.2
typer==0.4.0
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.0
